<%if @category_true%>
    <p class="text-center text-danger">Articulos de la categoria: <%= @category_on.name.upcase%> | <%= link_to "TODOS", articulos_path%></p>
<%end%>
<% @posts.each do |post| %>
    <div class="row">
        <div class="post-preview col-xs-5" data-id="<%= post.id %>">   
            <div>
                <% post.categories.each do |cat|%>
                    <span><%= link_to cat.name.upcase, category_path(cat.id), class: "col1 click deco-none"%></span> |
                <%end%>
            </div>
            <h2 class="post-title">
                <%= link_to post.title, post%>
            </h2>
            <p><%= raw post.body.truncate(200)%> <%= link_to "Leer mas", post, class: "text-success"%></p>
            <p class="post-meta">
                Posted by <%= link_to "Ime Isa", flaka_path %> on <%= post.created_at.strftime('%b %d, %Y')%>
            </p>
            <div class="in">
                <%= social_share_button_tag(post.title) %>
            </div>
        </div>
        <div class="col-xs-7">
            <% txt=post.body%></p>
                <% m=Regexp.new('((?:http|https)(?::\\/{2}[\\w]+)(?:[\\/|\\.]?)(?:[^\\s"]*))',Regexp::IGNORECASE)%>
                <% if m.match(txt)%>
                <%httpurl1=m.match(txt)[1]%>
                <%url = "("<<httpurl1<<")"<< "\n"%>
                <%#= puts url.gsub(/[()]/, "")%>
                <%=cl_image_tag(url.gsub(/[()]/, ""), :width=>200, :height=>200, :gravity=>"face", :radius=>"max", :effect=>"sharpen", :crop=>"thumb")%>
            <% end%>
        </div>
    </div>
    <hr>
<% end %>