<%if @category_true%>
    <p class="text-center text-danger">Articulos de la categoria: <%= @category_on.name.upcase%> | <%= link_to "TODOS", articulos_path%></p>
<%end%>
<% @posts.each do |post| %>
    <div class="post-preview" data-id="<%= post.id %>">   
        <div>
            <% post.categories.each do |cat|%>
                <span><%= link_to cat.name.upcase, category_path(cat.id), class: "col1 click deco-none"%></span> |
            <%end%>
        </div>
        <h2 class="post-title">
            <%= link_to post.title, post%>
        </h2>
        <div class="in">
            <%= social_share_button_tag("test") %>
        </div>
        <p class="post-meta">
            Posted by <%= link_to "Ime Isa", flaka_path %> on <%= post.created_at.strftime('%b %d, %Y')%>
        </p>
    </div>
    <hr>
<% end %>