    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" id="img-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Articulos</h1>
                        <hr class="small">
                        <div class="row">
                          <div class="col-xs-6 col-xs-offset-3">
                            <%= form_tag(articulos_path, method: :get) do %>
                                <div class="input-group">
                                    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Buscar..." %>
                                    <span class="input-group-btn">
                                        <%= submit_tag 'Go!', class: "btn btn-default" %>
                                    </span>
                                </div>
                            <% end %>
                          </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%if @category_true%>
                    <p class="text-center text-danger">Articulos de la categoria: <%= @category_on.name.upcase%> | <%= link_to "TODOS", articulos_path%></p>
                <%end%>
                <% @posts.each do |post| %>
                    <div class="post-preview">   
                        <div>
                            <% post.categories.each do |cat|%>
                                <span><%= link_to cat.name.upcase, category_path(cat.id), class: "col1 click deco-none"%></span> |
                            <%end%>
                        </div>
                        <h2 class="post-title">
                            <%= link_to post.title, post%>
                        </h2>
                        <div class="in">
                            <%= social_share_button_tag("test") %>
                        </div>
                        <p class="post-meta">
                            Posted by <%= link_to "Ime Isa", flaka_path %> on <%= post.created_at.strftime('%b %d, %Y')%>
                        </p>
                    </div>
                    <hr>
                <% end %>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>