    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" id="img-contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Escribirme</h1>
                        <hr class="small">
                        <span class="subheading">Preguntas, preguntas, preguntas ?</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- <p>Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!</p> -->
                <p class="text-success"><%= flash[:mail]%></p>
                 <%= form_tag(send_path, method: "POST", class: "form-horizontal") do%>
                        <div class="form-group">
                            <%= label_tag(:guest_mail, "Email", class: "col-sm-2") %>
                            <div class="col-sm-10">
                                <%= text_field_tag(:guest_mail, content = nil, class: "form-control") %>
                            </div>
                        </div>
                        <div class="form-group">
                            <%= label_tag(:subject, "Asunto", class: "col-sm-2") %>
                            <div class="col-sm-10">
                                <%= text_field_tag(:subject, content = nil, class: "form-control") %>
                            </div>
                        </div>
                        <div class="form-group">
                            <%= label_tag(:message, "Mensaje", class: "col-sm-12") %>
                            <div class="col-sm-12">
                                <%= text_area_tag(:message, content = nil, class: "form-control") %>
                            </div>
                        </div>
                        <%= submit_tag 'Enviar', class: "btn btn-primary" %>        
                  <%end%>
            </div>
        </div>
    </div>