    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" id="img-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><%= @post.title %></h1>
                        <p class="subheading">
                            <div class="in">
                                Compártelo: <%= social_share_button_tag(@post.title) %>
                            </div>                            
                        </p>
                        <span class="meta">Posted by <%= link_to "Ime Isa", flaka_path %> on <%= @post.created_at.strftime('%b %d, %Y') %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <% if admin_signed_in? %>
                        <%= link_to 'Edit', edit_post_path(@post) %> |
                        <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                    <div>
                        <div class="cat-cat">
                            <% @categories.each do |cat|%>
                                <span><%= link_to cat.name.upcase, category_path(cat.id), class: "col1 click deco-none"%></span> |
                            <%end%>
                        </div>
                    </div>
                    <div><%= raw @post.body %></div>
                    <p class="subheading">
                        <div class="in">
                            Compártelo: <%= social_share_button_tag(@post.title) %>
                        </div>                        
                    </p>
 <!--                    <p>
                        <div class="cat-cat">
                            <a href="" class="deco-none">#TAG1</a>,
                            <a href="" class="deco-none">#TAG2</a>
                        </div>
                    </p> -->
                </div>
            </div>
        </div>
    </article>