    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" id="img-video">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>My YouTube channel</h1>
                        <hr class="small">
                        <a href="#" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        <span class="subheading">Watch my videos.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <% if admin_signed_in? %>
            <div class="row">
                <div class="col-sm-12">
                    <%= form_tag(add_link_path, method: :post) do %>
                    <div class="input-group">
                        <%= text_field_tag :url, params[:url], class: "form-control", placeholder: "Add a YouTube link" %>
                        <span class="input-group-btn">
                            <%= submit_tag 'Add', class: "btn btn-default" %>
                        </span>
                    </div>
                <% end %>
                </div>
            </div>
            <br>
        <% end %>
      <div class="row">
        <% @links.each do |link|%>
            <div class="col-sm-6">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="<%= link.url%>"></iframe>
                </div>
                <% if admin_signed_in? %>
                    <%= link_to 'Delete', remove_link_path(link.id), method: :delete%>
                <% end %>
            </div>
        <%end%>
      </div>
    </div>