<!DOCTYPE html>
<html>
  <head>
    <title>PourMoi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/fonts' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4463420135192206",
        enable_page_level_ads: true
      });
    </script> -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56548487-3', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body id="post_count" label="<%= post_count%>">

<!--     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
    <!-- header -->
    <!-- <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4463420135192206"
         data-ad-slot="7734667137"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script> -->

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <%= link_to "PourMoi", root_path, class: "navbar-brand" %>
                <a class="fa click navbar-brand" data-toggle="modal" data-target=".bs-example-modal-sm">
                    Seguir <i class="fa fa-envelope-open-o"></i>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <%= link_to "Ime Isa", flaka_path %>
                    </li>
                    <li>
                        <%= link_to "Blog", articulos_path %>
                    </li>
                    <li>
                        <%= link_to "YouTube", video_path %>
                    </li>
                    <li>
                        <%= link_to "Instagram", instagram_path %>
                    </li>
                    <li>
                        <%= link_to "Contacto", contact_path %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- YIELD -->
    <%= yield %>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://www.instagram.com/ime_isa/?hl=es" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="click">
                                <span class="fa-stack fa-lg" data-toggle="modal" data-target=".bs-example-modal-sm">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope-open-o fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; <%= link_to "PourMoi", new_post_path%> <%= Time.now.year%></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content pad5">
            <h4 class="modal-title text-center text-primary">- SEGUIME -</h4>
            <p>Dejame tu dirección de Correo Electronico y te avisaré cada vez que haya un nuevo post!</p>
            <%=form_for new_subscriber, :html => {:class => "text-center"} do |s|%>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <%=s.email_field :email, placeholder: "Tu e-mail", class: "form-control", id:"exampleInputEmail1" %>
                </div>
                <%=s.submit "SEGUIR", class: "btn btn-primary btn-lg text-center"%>
            <%end%>
        </div>
      </div>
    </div>

  </body>
</html>
